
@{
    ViewBag.Title = "New";
}

<h2>Creare articol</h2>

<form method="post" action="/Category/New">
    <label>Nume</label>
    <br />
    <input type="text" name="Name" />
    <button type="submit">Adauga categorie</button>
</form>

